@import "~bootstrap/scss/bootstrap";


.list-group-item .description {
    display: none;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    word-wrap: break-word;
}

.list-group-item:hover .description {
    display: block;
}
